{$GAME_HOST} {
  encode zstd gzip
  reverse_proxy world:3001 {
    header_up X-Real-IP {remote_host}
  }
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
  }
}
